<!--<p>Show historical data here</p>-->
<div ng-controller="hisController">

    <div class="row">
        <div class="col-lg-2">
            <select class="form-control" id="select">
                <option selected disabled>Select a company</option>
                <option value="AAPL">Apple</option>
                <option value="BABA">Alibaba Group</option>
                <option value="BIDU">Baidu</option>
                <option value="YHOO">Yahoo</option>
                <option value="GOOG">Google</option>
            </select>
        </div>
        <div class="col-lg-4">
            <input type="text" name="daterange" id="datapicker" value="02/01/2016 - 02/01/2017" />
        </div>
    </div>

</div>