<!--<p>Show historical data here</p>-->
<div ng-controller="hisController">

    <div class="row">
        <div class="col-lg-2">
            <select class="form-control" id="select">
                <option selected disabled>Select a company</option>
                <option value="AAPL">Apple</option>
                <option value="BABA">Alibaba Group</option>
                <option value="BIDU">Baidu</option>
                <option value="YHOO">Yahoo</option>
                <option value="GOOG">Google</option>
            </select>
        </div>
        <div class="col-lg-3">
            <div class="input-group">
                <input type="text" name="daterange" class="form-control" value="02/01/2016 - 02/01/2017" id="date1"/>
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
        </div>
    </div>

</div>