<!--
written by: Jingyuan Li
assisted by:
debugged by: Jingyuan Li
-->
<!-- Main component for a primary marketing message or call to action -->
      <div>
        <h2>Stock Prediction</h2>
        <h4>Real Time Data</h4>
        <p class="leader"><span class="glyphicon glyphicon-info-sign text-info"></span>&nbspThis table refreshes every <span class="text-success">20 seconds</span> to get the real-time stock data</p>
        <p class="text-muted"><small>Currency in USD</small></p>
        <div class="row">
            <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th>Company</th>
                    <th>Price</th>
                  </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in realData">
                        <td>//x.name//</td>
                        <td>//x.price//</td>
                    </tr>
                </tbody>
            </table>
        </div>
      </div>