<!--
written by: Jingyuan Li
assisted by:
debugged by: Jingyuan Li
-->
<!-- Main component for a primary marketing message or call to action -->
      <div ng-controller="mainController">
        <h2>Stock Prediction</h2>
        <p>Some introduction and instructions here</p>
        <div class="test-div bordered">
          <h3>Test Module</h3>
          <div class="col-md-6">
          <!--<form method=POST action="{{ url_for('query') }}">-->
            <input type="text" class="form-control" name="stockName" placeholder="Stock Name" ng-model="inputStockName">
            <br>
            <button type="submit" class="btn btn-primary btn-prime" ng-click="buttonClicked()">Get Price</button> 
            <!--<button type="submit" class="btn btn-primary btn-block">Click</button>-->
          <!--</form>-->
          </div>
          <div class="col-md-6">
            <p>//stockPrice//</p>
            <!-- <p>{{priceList}}</p> -->
          </div>
        </div>
      </div>